{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <form action="" method="post" novalidate>

        <h1>Campos de Salon</h1>
        {{ formS.hidden_tag() }}
        <p>
            {{ formS.aula.label }}<br/>
            {{ formS.aula(size = 32) }}
            {% for error in formS.aula.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ formS.horaEntrada.label }}<br/>
            {{ formS.horaEntrada(size = 32) }}
            {% for error in formS.horaEntrada.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ formS.submit() }}
        </p>
    </form>
</body>
</html>

{% endblock  %}
